@{
    Layout = null;
}

@model Ornaments.Models.ForgotModel
<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Admin | Forgot</title>

    <!-- Google Font: Source Sans Pro -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="~/Content/Theme/plugins/fontawesome-free/css/all.min.css">
    <!-- icheck bootstrap -->
    <link rel="stylesheet" href="~/Content/Theme/plugins/icheck-bootstrap/icheck-bootstrap.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="~/Content/Theme/css/adminlte.min.css">
    <link rel="stylesheet" href="~/Content/Theme/custom-style.css" />
</head>
<body class="hold-transition login-page">
    @Html.Partial("~/Views/Partial_ProgressBar.cshtml")
    <div class="login-box">
        <div class="login-logo">
            <a href="../../index2.html"><b>Forgot Password</b></a>
        </div>
        <!-- /.login-logo -->
        <div class="card">
            <div class="card-body login-card-body">
                <p class="login-box-msg">You forgot your password? Here you can easily retrieve a new password.</p>
                @using (Html.BeginForm("Forgot", "Account", FormMethod.Post, new { @class = "form-horizontal", @id = "ForgotForm" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true)
                    if (!String.IsNullOrEmpty(@ViewBag.ErrorMsg))
                    {
                        <div class="error-msg">
                            @ViewBag.ErrorMsg
                        </div>
                        <br />
                    }
                    <div class="input-group mb-3">
                        @Html.TextBoxFor(model => model.Username, new { @placeholder = "Username", @class = "form-control", @maxlength = "20" })
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-user"></span>
                            </div>
                        </div>
                        @Html.ValidationMessageFor(model => model.Username)
                    </div>
                    <div class="row mb-3">
                        <div class="col-12" style="text-align:center;">
                            <span class="badge badge-success m-0" style="font-size:100%;">OR</span>
                        </div>
                    </div>
                    <div class="input-group mb-3">
                        @Html.TextBoxFor(model => model.Email, new { @placeholder = "Email", @class = "form-control" })
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-envelope"></span>
                            </div>
                        </div>
                        @Html.ValidationMessageFor(model => model.Email)
                    </div>
                    <div class="row">
                        <!-- /.col -->

                        <div class="col-6">
                            <button class="btn btn-primary btn-block" onclick="Javascript:jsFormValidate('ForgotForm');">Get Password</button>
                        </div>
                        <div class="col-6">
                            <a class="btn btn-default btn-block" onclick="Javascript:ShowProgressBar();" href="@Url.Action("Login", "Account")">Cancel</a>
                        </div>
                        <!-- /.col -->
                    </div>
                }
            </div>
            <!-- /.login-card-body -->
        </div>
    </div>
    <!-- /.login-box -->
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/account")

</body>
</html>